<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.html</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet"  href="../static/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
        <!-- Jumbotron -->
        <div class="jumbotron col-md-12 text-center">
            <h2>Belly Button Biodiversity Dashboard</h2>
            <p>Use the interactive charts below to explore the datasets</p>
        </div>
        </div>
        <div class='row col-md-offset-2'>
            <div class="col-md-3">
              <br>
              <br>
              <br>
              <div class="well text-center">
                <h5>SELECT Sample:</h5>              
                <select id="selDataset" onchange="optionChanged(this.value)"></select> 
              </div>
                
              <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Metadata Sample</h3>
                        </div>
                        <div id="metadata" class="panel-body"></div>                     
              </div>
            </div>  
            
            <div class="col-md-5" id="pie"></div>   
        </div>       
        
        <div class="row">
            <div class="col-md-12 border-box">
                <div id="bubble"></div>
            </div>
        </div>
        <br>
    </div>  
    <script src="../static/index.js"></script>     
</body>
</html>

